.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 80px;
}

.headerLogo {
  width: 121px;
}

.headerLogoLink {
  display: inline-block;
  width: 90px;
  height: 28px;
}

.logo {
  width: 100%;
  object-fit: contain;
}

.navItem {
  padding: 0 10px;
  display: inline-block;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.navLink:hover {
  color: #fff;
}

.navLinkJoin {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px 18px;
  transition: all 0.2s ease;
}

.navLinkJoin:hover {
  color: #fff;
  background-color: #1dbf73;
  border-color: #1dbf73;
}
